<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="./">Supplier & Product Management</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="./supplierlist">Supplier <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="./productlist">Product <span class="sr-only">(current)</span></a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container">
		<h3 style="margin-left:15px; margin-top: 10px"> 
			Add New Product
		</h3>
		<form th:action="@{/addproduct}" th:object="${product}" method="post">
			<div class="form-group col-md-4">
				<label th:if="${#fields.hasErrors('productNumber')}" th:errors="*{productNumber}">Error Supplier Number</label>
			    <label for="productNumber">Product Number</label>
			    <input type="text" class="form-control" id="productNumber" th:field="*{productNumber}" th:value="*{productNumber}">
			 </div>
			 <div class="form-group col-md-4">
			 	<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error Name</label>
			    <label for="name">Name</label>
			    <input type="text" class="form-control" id="name" th:field="*{name}" th:value="*{name}">
			 </div>
			 <div class="form-group col-md-4">
			 	<label th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}">Error unitPrice</label>
			    <label for="contactPhoneNumber">Unit  Price</label>
			    <input type="text" class="form-control" id="unitPrice" th:field="*{unitPrice}" th:value="*{unitPrice}">
			 </div>
			 <div class="form-group col-md-4">
			 	<label th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}">Error quantityInStock</label>
			    <label for="quantityInStock">Qty</label>
			    <input type="text" class="form-control" id="quantityInStock" th:field="*{quantityInStock}" th:value="*{quantityInStock}">
			 </div>
			  <div class="form-group col-md-4">
			  	<label>Supplier Name</label>
			  	<div th:object="${supplier}">
				 	<select th:field="*{supplierId}" th:value="*{supplierId}">
				 		<option th:each="supplier, iter: ${suppliers}" th:value="${supplier.supplierId}" th:text="${supplier.name}" />
				 	</select>
			  	</div>
			 </div>
			 <div class="form-group col-md-4">
			 	<label for="datesupplied">Date Supplied</label>
			    <input type="date" class="form-control" id="datesupplied" th:field="*{dateSupplied}" th:value="*{dateSupplied}">
			 </div>
			 <div class="form-group col-md-4">
				<button type="submit" class="btn btn-primary">Submit</button>
			 </div>
		</form>
	</div>
</html>