<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="./">Supplier & Product Management</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="./supplierlist">Supplier <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="./productlist">Product <span class="sr-only">(current)</span></a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container">
		<h3 style="margin-top: 10px">Product Lists</h3>
		<div>
			<a href="./addproduct" class="btn btn-primary">Add New Product</a>
		</div>
		<div style="margin-top: 10px"></div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Product Number</th>
					<th scope="col">Name</th>
					<th scope="col">Unit Price</th>
					<th scope="col">Qty</th>
					<th scope="col">Supplier</th>
					<th scope="col">Date Supplied</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="text-align: center" colspan="9" 
						th:if="${#lists.size(products) == 0}" 
						th:text="'No Data To Display'" />
				</tr>
				<tr th:each="product, iter: ${products}">
					<th scope="row" th:text="${iter.count}" />
					<td scope="row" th:text="${product.productNumber}"></td>
					<td scope="row" th:text="${product.name}"></td>
					<td scope="row" th:text="${product.unitPrice}"></td>
					<td scope="row" th:text="${product.quantityInStock}"></td>
					<td scope="row" th:text="${product.supplier.name}"></td>
					<td scope="row" th:text="${product.dateSupplied}"></td>
					<td scope="row">
						<a th:href="@{/editproduct(productid=${product.productId})}" class="btn btn-primary">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</html>